{% extends "base.twig" %}

{% block content %}
    <div class="card" style="width: 18rem;">
{#        <img src="..." class="card-img-top" alt="...">#}
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>
    <span style="font-size: 3em; color: Tomato;">
  <i class="fas fa-camera"></i>
</span>

    <span style="font-size: 48px; color: Dodgerblue;">
  <i class="fas fa-camera"></i>
</span>

    <span style="font-size: 3rem;">
  <span style="color: Mediumslateblue;">
  <i class="fas fa-camera"></i>
  </span>

         <i class="fas fa-fish"></i>
  <i class="fas fa-frog fa-2x"></i>
  <i class="fas fa-user-ninja vanished"></i>
  <i class="fab fa-facebook"></i>


</span>

    <div class="col-lg-3 col-sm-3 focus-box" data-scrollreveal="enter left after 0.15s over 1s" data-sr-init="true" data-sr-complete="true">
        <div class="service-icon">

            <i class="pixeden our-focus-widget-image" style="background:black no-repeat center;"></i> <!-- FOCUS ICON-->

        </div>
        <h5 class="red-border-bottom">Stratégies WebMarketing</h5> <!-- FOCUS HEADING -->
        <p>
            Car on ne peut exister sur le web sans stratégies précises. Nous apportons donc notre expertise et conseillons nos partenaires dans les stratégies webmarketing à mener en fonction de leurs objectifs. 			</p>
    </div>

    <div class="col-lg-3 col-sm-3 focus-box" data-scrollreveal="enter left after 0.15s over 1s" data-sr-init="true" data-sr-complete="true">
        <div class="service-icon">

            <a target="_self" href="https://www.drosalys-web.fr/creation-de-site/"><i class="pixeden our-focus-widget-image" style="background:url(https://www.drosalys-web.fr/wp-content/uploads/2014/07/Unknown-9.png) no-repeat center;"></i> <!-- FOCUS ICON--></a>

        </div>
        <h5 class="red-border-bottom">Création de site web</h5> <!-- FOCUS HEADING -->
        <p>
            Vous avez besoin de créer un site vitrine pour promouvoir vos services ou votre société. Que vous soyez artisan, commerçant ou prestataire de services, nous mettons tout en œuvre pour la création de votre site web sur mesure…			</p>
    </div>

    <div class="col-lg-3 col-sm-3 focus-box" data-scrollreveal="enter left after 0.15s over 1s" data-sr-init="true" data-sr-complete="true">
        <div class="service-icon">

            <a target="_self" href="https://www.drosalys-web.fr/referencement/"><i class="pixeden our-focus-widget-image" style="background:url(https://www.drosalys-web.fr/wp-content/uploads/2014/07/Unknown-8.png) no-repeat center;"></i> <!-- FOCUS ICON--></a>

        </div>
        <h5 class="red-border-bottom">Référencement (SEO/SEA)</h5> <!-- FOCUS HEADING -->
        <p>
            Une stratégie de référencement doit être réfléchie et de qualité. Nous pouvons vous aider dans le choix de vos mots-clés, pour être en complète adéquation avec les recherches des internautes et le positionnement de vos concurrents…			</p>
    </div>


{% endblock %}
