

{% extends "base.twig" %}

{% block content %}
    <div class="content-wrapper">
        <article class="post-type-{{post.post_type}}" id="post-{{post.ID}}">
            <section class="article-content">
                <h1 class="article-h1">{{post.title}}</h1>
                <div class="article-body">
                    <h2><span style="color: #c93e5b;">Pourquoi ne pas être en première page Google ?</span></h2>
                    <p class="interligne" style="text-align: justify;">Le <strong>référencement payant</strong> ou <strong>SEM</strong> (Search Engine Marketing) à pour but d’être positionner dans les 3 premières positions dans les moteurs de recherche comme Google, Bing, …Ce système de publicité est basé sur le coût au clic (CPC). Vous ne payez que lorsque les internautes clic sur votre lien, et donc visite votre site internet. Cela s’appelle faire une <em>campagne Adwords</em> s’il s’agit de réaliser une campagne sur le moteur de Recherche Google.</p>
                    <p class="interligne" style="text-align: justify;">Une Campagne de référencement payant est une réussite lorsque l’on achète les mots clés, au bon prix, par rapport à votre secteur d’activité. Il s’agit également d’exclure les mots clés qui génère du trafic mais pas de ROI. L’ensemble des technique ayant pour but de vous générer rapidement du trafic, et donc du Chiffre d’Affaires, sans attendre le résultat du référencement naturel. Le Référencement payant s’inscrit dans une stratégie à court terme.</p>
                    <h3 class="interligne" style="text-align: justify;"><span style="color: #bfcc1c;">Nos prestations</span></h3>
                    <ul>
                        <li>
                            <h4>Mise en place d’une stratégie de référencement payant</h4>
                        </li>
                    </ul>
                    <p class="interligne" style="text-align: justify;">Nous commençons par effectuer une analyse du secteur et de la concurrence, puis nous définissons les objectifs à atteindre pour votre campagne Adwords. Nous déterminons ensuite la structure de votre compte, des campagnes et groupes d’annonces. Puis nous délimitons le champ sémantique de votre stratégie marketing, mots et expressions clés. Nous choisissons et adaptons ensemble les landing pages les plus pertinentes. Et finalement nous mettons en place les annonces et extensions d’annonces. Nous vous accompagnons tout au long de votre campagne de visibilité en vous fournissant régulièrement des rapports détaillés&nbsp; sur les évolutions et les améliorations à apporter, afin de perfectionner votre taux de transformation et votre retour sur Investissement.</p>
                    <ul>
                        <li>
                            <h4>Gestion de campagne adwords</h4>
                        </li>
                    </ul>
                    <p class="interligne" style="text-align: justify;">&nbsp;Vous avez déja mis en place des annonces Adwords, mais vos résultats ne sont pas à la hauteur de vos attentes. Il est important de se faire accompagner par des professionnels lors de la mise en place de stratégies SEM. Nous pouvons vous aider dans l’amélioration de votre référencement payant. Nous pouvons optimiser vos campagnes et vos annonces afin d’améliorer vos positions ou votre taux de clic. Nous pouvons vous aider à mieux définir votre stratégie d’enchères et de mots clés dans le but d’augmenter votre taux de transformation et votre coût de conversion. Ensuite nous faisons un suivi des résultats observés en fonction des objectifs définis précédemment.</p>
                    <h4></h4>
                    <p>Pour plus d’informations, merci de nous contacter au 06 38 81 97 39 ou alors via notre <a href="https://www.drosalys-web.fr/contact/" target="_self">formulaire de contact</a></p>

                </div>
            </section>
        </article>
    </div><!-- /content-wrapper -->
{% endblock %}
