{% extends "base.twig" %}

{% block content %}
	<div class="content-wrapper">
		<article class="post-type-{{post.post_type}}" id="post-{{post.ID}}">
			<section class="article-content">
				<h1 class="article-h1">{{post.title}}</h1>
				<div class="article-body">

						<h2 style="text-align: justify;"><span style="color: #c93e5b;">Site internet responsive design</span></h2>

                <p class="interligne" style="text-align: justify;">Vous avez besoin de créer <strong>un site vitrine</strong> pour promouvoir vos services ou votre société. Vous souhaitez vous lancer dans le <strong>e-commerce</strong> et vous avez besoin d’un site mettant en valeur vos produits dans une boutique en ligne. Votre site se fait vieillissant et a besoin d’un petit « coup de jeune ». Vous n’êtes pas sans savoir qu’une présence active sur Internet est devenue d’une importance capitale aujourd’hui. La plus grande majorité des personnes cherchent des informations sur Internet avant de se déplacer en magasin ou de faire un devis chez un prestataire. Il est donc devenu indispensable pour chaque entreprise ou artisan de se créer une présence sur Internet. Un site internet est votre carte de visite virtuelle. Il vous permet d’être visible de vos clients et de vos prospects. De rentrer en contact avec eux d’une manière rapide et facile, et de présenter rapidement vos produits ou services. Nous vous proposons la solution idéale en créant votre site Internet de A à Z, avec une très bonne qualité professionnelle, en fonction de vos besoins et de votre budget. Nous pouvons également faire une refonte complète ou partielle de votre site internet pour le moderniser ou l’optimiser dans son ergonomie, son référencement naturel et dans l’acquisition de prospects. Que vous soyez artisan, commerçant ou prestataire de service, nous mettons tout en œuvre pour la <strong>création de votre site Web</strong> et <strong>site e-commerce sur mesure</strong>.</p>
                <p class="interligne" style="text-align: justify;"><a href="https://www.drosalys-web.fr/wp-content/uploads/2014/03/DSI.jpg"><img class="aligncenter wp-image-621 size-full" src="https://www.drosalys-web.fr/wp-content/uploads/2014/03/DSI.jpg" alt="Responsive Design - Computer, Laptop, Tablet, Smartphone" srcset="https://www.drosalys-web.fr/wp-content/uploads/2014/03/DSI.jpg 346w, https://www.drosalys-web.fr/wp-content/uploads/2014/03/DSI-150x150.jpg 150w, https://www.drosalys-web.fr/wp-content/uploads/2014/03/DSI-200x200.jpg 200w, https://www.drosalys-web.fr/wp-content/uploads/2014/03/DSI-74x74.jpg 74w" sizes="(max-width: 346px) 100vw, 346px" width="346" height="346"></a>Le «<strong>responsive web design</strong>» (ou conception de sites web adaptatifs) est une nouvelle manière de concevoir les sites Internet. Cette technique permet d’adapter le contenu de votre site Internet automatiquement à la largeur et à la hauteur de l’écran qui le visionne. (Ordinateurs fixes, smartphones et tablettes tactiles, reader, TV…). L’intégralité de nos sites internet sont développé sous cette technologie afin de permettre à nos clients d’avoir un site internet complètement adapté à leurs clients.</p><h3><span style="color: #bfcc1c;">Nos prestations</span></h3>
                <ul>
                <li>
                <h4>Site internet</h4>
                </li>
                </ul>
                <p class="interligne" style="text-align: justify;">Nous commençons par définir ensemble la cohérence entre votre stratégie commerciale et webmarketing et les mots clés sur lesquels vous voulez être positionnés. Puis nous définissons ensuite la structure idéale pour votre site en tenant compte toujours du référencement naturel de votre site web. Nous créons votre charte graphique et votre logo si besoin, afin d’être en accord avec votre image et de pouvoir être différencié de vos concurrents. Tous nos sites sont responsive, cela signifie qu’ils s’adaptent sur tous les écrans, mobiles ou tablettes. Ainsi, nous créons votre site internet sur mesure, orienté vers l’acquisition de prospects. Nous pouvons également gérer l’achat de votre nom de domaine et la gestion de votre hébergement. Nous nous adaptons à tous les secteurs d’activité et à tous les budgets pour la création de site professionnel. Intégrez toutes les fonctionnalités que vous souhaitez : agenda, newsletter, blog, calendrier, gestion de rendez-vous, etc… sur votre site professionnel. Nous utilisons des outils simples que vous pourrez ensuite gérer vous-même, sans aucunes connaissances techniques dans la création de site web, pour mettre à jour votre site. Votre site est entièrement personnalisable, vous pourrez ainsi être autonome sur les mises à jour et modifications de votre site.</p>
                <ul>
                <li>
                <h4>Refonte de site web</h4>
                </li>
                </ul>
                <p class="interligne" style="text-align: justify;">Les technologies web sont en constante évolution et votre site web doit évoluer. Une refonte de site web est souvent la conséquence d’une problématique de visibilité, d’image ou de référencement. Lors de la refonte d’un site web, nous commençons par analyser l’existant et en déterminer les points forts et les points faibles. Puis nous faisons une analyse de la concurrence et du secteur pour mettre en place une véritable stratégie de différenciation pour votre site web. Nous procédons ensuite à la refonte de la structure de votre site si besoin, puis à la refonte graphique. Nous réécrivons ou modifions les contenus texte de votre site toujours dans un souci d’optimisation de votre référencement naturel qui a pour but d’améliorer votre classement dans les résultats de recherche tel que google, yahoo… et ainsi augmenter votre visibilité. Nous rendons la navigation facile sur votre site pour vos clients. Enfin, nous optimisons votre site dans son ergonomie et faisons des test utilisateurs.</p>
                <p style="text-align: justify;">Pour plus d’informations, merci de nous contacter au 06 38 81 97 39 ou alors via notre <a href="https://www.drosalys-web.fr/contact/" target="_self">formulaire de contact</a></p>
                <p>&nbsp;</p>

				</div>
			</section>
		</article>
	</div><!-- /content-wrapper -->
{% endblock %}
